/* src/DiseaseList.css */
.disease-list-container {
  text-align: center; /* Center content horizontally */
  padding: 20px; /* Padding around the container */
}

.title {
  font-size: 1.5em; /* Larger font size for the title */
  color: rgb(30, 58, 138); 
  font-size: 40px;
}

.disease-dropdown,
.nested-dropdown {
  font-size: 1.2em; /* Larger font size for dropdown */
  padding: 10px; /* Extra padding for a larger click area */
  border: 2px solid #ccc; /* Border for visual definition */
  border-radius: 5px; /* Rounded corners for a smoother look */
  background-color: #f9f9f9; /* Light background color */
  width: 200px; /* Larger width to accommodate text */
  transition: all 0.3s ease; /* Smooth transition effects */
}

.disease-dropdown:hover,
.nested-dropdown:hover {
  border-color: #008cba; /* Change border color on hover */
  background-color: #e0f7fa; /* Light blue background on hover */
}

.disease-dropdown:focus,
.nested-dropdown:focus {
  outline: none; /* Remove default outline */
  border-color: #005f6a; /* Different border color when focused */
}
